<form (ngSubmit)="handleFormSubmit()" [formGroup]="form">
  <label for="email-forgot" class="text-900 mb-2 block font-medium">
    {{ 'login.email' | translate }}
  </label>
  <input
    id="email-forgot"
    type="text"
    pInputText
    class="mb-3 w-full"
    formControlName="email"
    autocomplete="username"
  />

  <div class="buttons end">
    <button type="button" pButton pRipple [outlined]="true" (click)="cancel()">
      {{ 'global.cancel' | translate }}
    </button>
    <button type="submit" pButton pRipple [loading]="loading()">
      {{ 'global.confirm' | translate }}
    </button>
  </div>
</form>
