@import 'animations';

form {
  .buttons {
    margin-top: 1rem;
  }

  [formcontrolname] {
    & + .p-error {
      height: 0;
      transition: var(--ts);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }

    &.ng-touched.ng-invalid,
    &.ng-dirty.ng-invalid {
      & + .p-error {
        height: 15px;
      }
    }
  }

  .ng-invalid {
    &.ng-dirty,
    &.ng-touched {
      .p-inputtext,
      &.p-inputtext {
        border-color: #fca5a5;
        @include shake;
      }
    }
  }
}

.p-menubar .p-menubar-root-list .p-icon-wrapper {
  margin-left: 0;
}
