<main class="h-full flex">
  <div
    [@zoomInAnimation]
    class="surface-card p-4 shadow-2 border-round w-full sm:w-30rem m-auto"
  >
    <div class="text-center mb-5">
      <img src="../../../assets/images/logo.png" alt="Image" height="50" />
      <h1 class="text-900 text-3xl font-medium mb-3">
        {{ 'register.title' | translate }}
      </h1>
      <p>
        <span class="text-600 font-medium line-height-3">
          {{ 'register.already-have-account' | translate }}
        </span>
        <a
          routerLink="/login"
          class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >
          {{ 'register.sign-in' | translate }}
        </a>
      </p>
    </div>

    <form class="mb-5" (ngSubmit)="handleFormSubmit()" [formGroup]="form">
      <label for="name" class="block text-900 font-medium mb-2">
        {{ 'register.name' | translate }}
      </label>
      <input
        id="name"
        type="text"
        pInputText
        class="w-full mb-2"
        formControlName="name"
        autocomplete="name"
      />
      <small class="p-error mb-3">
        {{ form.controls.name.errors | formError | translate }}
      </small>

      <label for="email" class="block text-900 font-medium mb-2">
        {{ 'register.email' | translate }}
      </label>
      <input
        id="email"
        type="text"
        pInputText
        class="w-full mb-2"
        formControlName="email"
        autocomplete="username"
      />
      <small class="p-error mb-3">
        {{ form.controls.email.errors | formError | translate }}
      </small>

      <label for="password" class="block text-900 font-medium mb-2">
        {{ 'register.password' | translate }}
      </label>
      <p-password
        styleClass="w-full mb-2"
        inputStyleClass="w-full"
        inputId="password"
        formControlName="password"
        [toggleMask]="true"
        autocomplete="new-password"
      />
      <small class="p-error mb-3">
        {{ form.controls.password.errors | formError | translate }}
      </small>

      <label for="password" class="block text-900 font-medium mb-2">
        {{ 'register.confirm-password' | translate }}
      </label>
      <p-password
        styleClass="w-full mb-2"
        inputStyleClass="w-full"
        inputId="password"
        formControlName="confirm_password"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="new-password"
      />
      <small class="p-error mb-3">
        {{ form.controls.confirm_password.errors | formError | translate }}
      </small>

      <button
        type="submit"
        pButton
        pRipple
        class="w-full justify-content-center gap-2"
        [loading]="loading()"
      >
        <i icon="user"></i>
        {{ 'register.register' | translate }}
      </button>
    </form>

    <p-divider align="center">
      <span class="text-900">{{ 'register.or' | translate }}</span>
    </p-divider>

    <div class="mt-5">
      <button pButton pRipple class="w-full justify-content-center">
        <i icon="google" class="p-button-icon-left"></i>
        {{ 'register.with-google' | translate }}
      </button>
    </div>
  </div>
</main>
