<div
  class="relative aspect-[4/7] w-full overflow-hidden rounded-lg bg-[#f5c738] px-4"
>
  <img
    src="https://nos.noclafgroup.com/assets/images/logo-vertical-black.png"
    alt=""
    class="w-12 object-contain py-2"
  />

  <h1
    class="absolute -right-3 -top-9 aspect-square w-16 rounded-full bg-white p-4 text-center text-3xl text-[#f5c738]"
  >
    {{ player.number }}
  </h1>

  @if (player.image) {
    <img
      [src]="player.image"
      alt=""
      class="relative z-10 aspect-square w-full rounded-md object-cover object-top"
    />
  } @else {
    <img
      src="https://nos.noclafgroup.com/assets/images/logo-vertical-black.png"
      alt=""
      class="relative z-10 aspect-square w-full rounded-md bg-white object-contain object-center p-10"
    />
  }

  <div class="relative z-10 w-full pb-4">
    <h1
      class="relative z-10 m-0 pt-4 text-center text-lg font-medium text-white"
    >
      {{ player.name }} <span class="text-xs"> ({{ player.score }}) </span>
    </h1>

    <h1
      class="relative z-10 m-0 text-center text-xs font-normal text-[#f5c738]"
    >
      {{ player.position }}
    </h1>

    <div class="mt-2 flex items-center justify-between">
      <p class="m-0 text-sm"> Força: </p>
      <p-rating [(ngModel)]="player.skills.strength" [cancel]="false" />
    </div>

    <div class="mt-2 flex items-center justify-between">
      <p class="m-0 text-sm"> Velocidade: </p>
      <p-rating [(ngModel)]="player.skills.speed" [cancel]="false" />
    </div>

    <div class="mt-2 flex items-center justify-between">
      <p class="m-0 text-sm"> Abilidade: </p>
      <p-rating [(ngModel)]="player.skills.ability" [cancel]="false" />
    </div>

    <div class="mt-2 flex items-center justify-between">
      <p class="m-0 text-sm"> Defesa: </p>
      <p-rating [(ngModel)]="player.skills.defence" [cancel]="false" />
    </div>
  </div>

  <div class="playerCard"></div>
</div>
