<main class="flex h-full">
  <div
    [@zoomInAnimation]
    class="surface-card shadow-2 border-round sm:w-30rem m-auto w-full p-4"
  >
    <div class="mb-5 text-center">
      <img src="../../../assets/images/logo.png" alt="Image" height="50" />
      <h1 class="text-900 mb-3 text-3xl font-medium">
        {{ 'rescure_password.title' | translate }}
      </h1>
    </div>

    <form class="mb-5" (ngSubmit)="handleFormSubmit()" [formGroup]="form">
      <label for="password" class="text-900 mb-2 block font-medium">
        {{ 'register.password' | translate }}
      </label>
      <p-password
        styleClass="w-full mb-2"
        inputStyleClass="w-full"
        inputId="password"
        formControlName="new_password"
        [toggleMask]="true"
        autocomplete="new-password"
      />
      <small class="p-error mb-3">
        {{ form.controls.new_password.errors | formError | translate }}
      </small>

      <label for="password" class="text-900 mb-2 block font-medium">
        {{ 'register.confirm-password' | translate }}
      </label>
      <p-password
        styleClass="w-full mb-2"
        inputStyleClass="w-full"
        inputId="password"
        formControlName="confirm_password"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="new-password"
      />
      <small class="p-error mb-3">
        {{ form.controls.confirm_password.errors | formError | translate }}
      </small>

      <button
        type="submit"
        pButton
        pRipple
        class="justify-content-center w-full gap-2"
        [loading]="loading()"
      >
        <i icon="key"></i>
        {{ 'rescure_password.change_password' | translate }}
      </button>
    </form>
  </div>
</main>
