<main class="page flex">
  <div
    [@zoomInAnimation]
    class="surface-card shadow-2 border-round sm:w-30rem m-auto w-full p-4"
  >
    <div class="mb-5 text-center">
      <p class="m-0 mt-3 text-4xl">
        {{ 'errors.error' | translate }}
      </p>
      <h1 class="mb-3 mt-0 text-8xl font-light">
        {{ code }}
      </h1>
      <p>{{ 'errors.' + translated | translate }}</p>
      <div class="buttons center mt-5">
        @if (code !== 401) {
          <a pButton pRipple routerLink="/">
            {{ 'navbar.home' | translate }}
          </a>
        }
        @if (code === 401) {
          <a pButton pRipple outlined routerLink="/login">
            {{ 'navbar.login' | translate }}
          </a>
        }
        <a pButton pRipple outlined routerLink="/help">
          {{ 'navbar.help' | translate }}
        </a>
      </div>
    </div>
  </div>
</main>
